.userDropDownWrapper{
    background-color: rgba(255, 255, 255, 0);
    padding: 14px 24px;
    width: 450px;
    text-align: left;
    border: #cbced182 2px solid;
    font-weight: 400;
    font-size: 16px;
    font-family: monospace;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.inputContainer {
  position: relative;
  width: 450px; 
}

.inputUser {
  width: 100%;
  padding: 14px 24px;
  padding-right: 120px; 
  border: #cbced182 2px solid;
  font-weight: 600;
  font-size: 16px;
  font-family: monospace;
}

.submitForm {
  position: absolute;
  top: 25px;
  right: 5px; 
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  background-color: blue;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.submitForm:hover{
    background-color: rgba(18, 18, 240, 0.748);
}
.submitForm:active{
    transition: 0.2s;
    background-color: rgba(0, 0, 255, 0.748);
}
.dropdownContainer {
    position: relative;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #cbced1af;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-height: 150px; /* обмеження висоти */
  overflow-y: auto; /* прокрутка, якщо багато користувачів */
}
.listUserContainer{
    display: flex;
    align-items: center;
    border: #cbced1af 1px solid;
    padding: 14px 24px;
}
.checkbox{
    margin-right: 5px;
    border: 1px solid #cbced182;
    width: 20px;
    height: 20px;
}
.listUser{
    list-style: none;
    margin-bottom: 5px;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

